import { useState, useEffect } from 'react';
import PropTypes from 'prop-types';
import './{{pascalCase name}}.scss';

const initialState = {};

const {{pascalCase name}} = (props) => {
  const [state, setState] = useState(initialState)

  return (
    <div className="{{pascalCase name}}">
    </div>
  );
};

{{pascalCase name}}.propTypes = {

};

{{pascalCase name}}.defaultProps = {

};

export default {{pascalCase name}};
